.anchor() {
    font-size: 2rem;
    text-decoration: none;
    font-family: sans-serif;
    width: 30%;
    text-align: center;
}

.bg-img() {
    background-image: url("/assets/home.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 400px;
    
}