nav {
    height: 30px;
    display: flex;
    margin: 2% 20%;
    justify-content: center;
    @media @mobile {
        height: 20px;
        a:nth-child(3) {
            padding-left: 2%;
        }
    }

    a {
        .anchor();
        @media @mobile {
            height: 20px;
            font-size: 1.1rem;
            padding-right: 1%;
            width: 25%;
        }
    }
    a:nth-child(1) {
        font-weight: bold;
    }
    a:nth-child(2) {
        border-left: 3px solid @grey;
        border-right: 3px solid @grey;
    }

    
    
}